@import url("https://fonts.google.com/share?selection.family=Blinker:wght@100;200;300;400;600;700;800;900");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
	font-size: 62.5%;
  background-color: #000; ;
  
}

body {
    font-family: "Blinker", sans-serif;
    font-size: 1.6rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  .main-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    color: #CDF72B;
  }


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-wrapper {
  background-image: url("./img/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  
  /* mobile first */
  @media (min-width: 768px) {
    height: 100vh;

  }

}

.impostr-log {
  width: 80px;;
}